.button {
	background: $dark-color;
	color: #fff;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s;
	border: 0px;
	width: 100%;
	font-size: 1rem;

	&:hover {
		background: $dark-hover-color;
	}

	&.mt {
		margin-top: 15px;
	}
	&.mb {
		margin-bottom: 15px;
	}

	&.light {
		background: $light-color;
		color: $dark-color;
	}
}
