.basic {
	display: flex;
	flex-direction: column;
	align-items: center;
	&.loader {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80vh;
	}

	.frame {
		margin-top: 20px;
		margin-bottom: 100px;
		width: 70%;
		@media (max-width: 1000px) {
			width: 95%;
		}
	}
}
