.userCard {
	border: 1px dashed #ccc;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}

	.name {
		margin: 10px 0px;
		font-size: 1.1rem;
		font-weight: bold;
	}

	.link {
		background: $dark-color;
		color: #fff;
		font-size: 0.85rem;
		padding: 7px 15px;

		&:hover {
			background: $dark-hover-color;
		}
	}
}
