@import "./variables/colors.scss";
@import "./components/Layout.scss";
@import "./components/Button.scss";
@import "./components/userCard.scss";
@import "./pages/User.scss";

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.navLink {
	color: #fff;
	padding: 0px 10px;
}

.row {
	display: flex;
	flex-direction: row;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.6;
}

input {
	width: 100%;
	padding: 8px 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	display: flex;
}

.userList {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	gap: 15px 2%;
}

.error {
	width: 100%;
	padding: 10px;
	margin-bottom: 12px;
	background: $light-color;
	color: $dark-color;
	display: flex;
	align-items: center;

	svg {
		margin-right: 5px;
	}
}
