.userHeadSection {
	margin-bottom: 10px;
	align-items: center;

	.back {
		background: $light-color;
		color: $dark-color;
		text-align: center;
		padding: 10px 15px;
		cursor: pointer;
		transition: all 0.2s;
		margin-right: 10px;
	}

	.icon {
		margin: 0px 0px 0px 10px;
		font-size: 16px;
		transform: translateY(15%);
	}
}

.userInfo {
	display: flex;
	border: 1px dashed #ccc;
	padding: 15px;
	margin-bottom: 10px;
	line-height: 1.7rem;

	.col {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.main {
		justify-content: center;
		align-items: center;

		img {
			width: 150px;
			height: 150px;
			border-radius: 75px;
			margin-bottom: 5px;
			background: rgba(0, 0, 0, 0.3);
		}
	}

	.visitButton {
		margin: 10px 0px;
		margin: 15px auto 15px 0px;
		background: $dark-color;
		color: #fff;
		text-align: center;
		padding: 5px 15px;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background: $dark-hover-color;
		}
	}
}

.tags {
	display: flex;
	justify-content: center;
	border: 1px dashed #ccc;
	padding: 20px;
	margin-bottom: 10px;

	div {
		font-size: 0.85rem;
		margin: 0px 5px;
		color: #fff;
		padding: 5px 10px;
		border-radius: 5px;
	}

	.followers {
		background-color: $primary-color;
	}
	.following {
		border: 1px solid $light-color;
		color: $dark-color;
	}
	.repos {
		background-color: $success-color;
	}
	.gists {
		background-color: $dark-color;
	}
}

.userRepo {
	border: 1px dashed #ccc;
	padding: 17px;
	margin-bottom: 10px;
	a {
		font-weight: bold;
		color: $danger-color;

		&:hover {
			color: rgb(53, 53, 53);
		}
	}
}
